/* This CSS file is ONLY for the LoginPage.html */

.login-page-subheader {
    background-color: #F4F4F4; /* Your requested white background */
    color: #444444; /* Dark text for visibility on a white background */
    padding: 10px 0;
    text-align: center;
    
    /* A subtle border to separate it from the header and page body */
    border-top: 1px solid #B7B7B7;
    border-bottom: 1px solid #B7B7B7;
}

.login-page-subheader p {
    margin: 0;
    font-family: var(--font-tertiary); /* 'Roboto' */
    font-weight: 300; /* 'Light' */
    font-size: 1.5rem;
}